@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$header: #333;
$footer: #333;

.header {
  height: 200px;
  background-color: $header;
}

.footer {
  height: 100px;
  background-color: $footer;
}